<div class="grid-row form-group small">
    <div>
        <label for="title" class="required"><%= translate('product.attribute.name') %></label>
    </div>
    <div id="selectBox"></div>
</div>
<% if (!shouldHideValueField) { %>
<div class="grid-row form-group">
    <div>
        <label for="attribute-name" class="required"><%= translate('product.attribute.value') %></label>
    </div>
    <input class="form-element" type="text" id="attribute-name"
           data-validation-max-length="255" data-mapper-property="attributeName"/>
</div>
<% } %>
