# PHPUnit
/phpunit.xml
.phpunit.result.cache

coverage-report
var

# Composer
/composer.phar
/composer.lock
/auth.json
/vendor

# IDEs
.idea/*
*.iml
*~

# System files
.DS_Store

# tests
tests/Application/var

# php-cs-fixer
.php_cs.cache
.php-cs-fixer.cache

# Symfony
.env.local
.env.*.local

# Test reports
/tests/reports/
/coverage/
