/node_modules/
/Tests/app/cache/*
/Tests/app/logs/*
/Tests/app/data/*
/Tests/Resources/app/cache/*
/Tests/Resources/app/logs/*
/vendor/
/composer.phar
/composer.lock
/.sass-cache/
*~

# IDEs
.idea/*
*.iml
.DS_Store
