<div class="variant-overlay-content is-hidden">
    <div class="grid-row">
        <input type="hidden" data-mapper-property="id"/>
        <div class="grid-row small form-group">
            <label for="name" class="required"><%= translate('product.name') %></label>
            <input class="form-element"
                   type="text"
                   id="name"
                   data-validation-required="true"
                   data-validation-max-length="255"
                   data-mapper-property="name"/>
        </div>
        <div class="grid-row form-group">
            <label for="number" class="required"><%= translate('product.number') %></label>
            <input class="form-element"
                   type="text"
                   id="number"
                   data-validation-required="true"
                   data-validation-max-length="255"
                   data-mapper-property="number"/>
        </div>
    </div>

    <h3 class="divider"><%= translate('sulu_product.attributes') %></h3>

    <div data-type="collection"
         data-mapper-property='[{"data":"attributes","tpl":"attribute-tpl"}]'>
        <script type="text/template" id="attribute-tpl">
            <div>
                <~ var uid = _.uniqueId('attribute_') ~>
                <input type="hidden" data-mapper-property="attributeId"/>
                <div class="grid-row small form-group">
                    <label for="<~= uid ~>" class="required"><~= attributeName ~></label>
                    <input class="form-element"
                           type="text"
                           id="<~= uid ~>"
                           data-validation-required="true"
                           data-validation-max-length="255"
                           data-mapper-property="attributeValueName"/>
                </div>
            </div>
        </script>
    </div>
</div>
