<div class="grid">
    <div class="grid-row">
        <div class="grid-col-12">
            <h1><%=translate('sulu.products.import')%></h1>
        </div>
    </div>
</div>
<div id="process"></div>
<div class="import-info">
    <span class="title"><%=translate('sulu.products.map-header')%></span>
    <p><%=translate('sulu.products.map-header-desc')%></p>
    <strong><span id="unmatched-columns"></span> <%=translate('sulu.products.unmatched-columns')%></strong>
</div>
<div id="matcher"></div>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/suluproduct/css/main.css') }}">
