<form class="form-horizontal" id="product-attributes-form">
	<div id="product-attribute-list"></div>
	<table>
		<tr>
			<td>
			    <div class="form-group">
	                <label for="title" class="required"><%= translate('product.attribute.value') %></label>
	                <input class="form-element" type="text" id="attribute-name"
	                       data-validation-max-length="255" data-mapper-property="attributeName"/>

	            </div>
			</td>
			<td>
				<div class="form-group">
					<label for="title" class="required"><%= translate('product.attribute.name') %></label>

					 <div id="attribute-types"
	                     data-aura-component="select@husky"
	                     data-aura-instance-name="attribute-types"
	                     data-aura-data="{{ attribute_types|json_encode() }}"
	                     data-aura-default-label="<%=translate('product.attribute.type')%>"
	                     data-aura-multiple-select="false"
	                     data-aura-direction="bottom"
	                     data-type="husky-select"
	                     data-validation-required="true"
	                     data-aura-pre-selected-elements="[1]"
	                     data-form="true">
                     </div>

				</div>
			</td>
		</tr>
	</table>
	<br>
	<div id="product-attribute-selection-toolbar"></div>
</form>

{% block data %}
    <script type="text/javascript">
        (function() {
            var types = {
                        'attributeTypes': {{ attribute_types|json_encode()|raw }}
                    };
            App.emit('sulu.products.set-types', types);
        })();
    </script>
{% endblock %}
