{% extends "SuluProductBaseBundle:Template:base.list.html.twig" %}

{% block title %}<%=translate('pim.products.title')%>{% endblock %}

{% block list %}
    <div id="products-list"></div>
{% endblock %}
