<form class="form-horizontal" id="product-addons-form">
    <div id="product-addons-toolbar" class="m-bottom-30"></div>
    <div id="product-addons-list"></div>
</form>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/suluproduct/css/main.css') }}">
